.Navbar {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4894a4;
}

.NavLogo {
  position: relative;
  left: 70px;
  width: 200px;
  height: auto;
}

.PAFLogo {
  position: relative;
  right: 100px;
  width: 200px;
  height: auto;
}