* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #ffffff;
  height: 120vh;
}

.title {
  text-align: center;
  margin: 1vmax;
  font-size: 3vmax;
  font-family: Papyrus;
}

.textbox {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 60vmax;
  padding: 1vmax;
  font-weight: 100;
  border-radius: 2vmax;
  font-size: 2vmax;
  margin-left: auto;
  margin-right: auto;
}

.unit {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  padding: 40px;
  border-color: #4894a4;
  border-style: solid;
  border-width: medium;
  margin-left: 50px;
  width: 200px;
}

.unittext {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 60vmax;
  text-align: center;
  font-weight: bold;
  border-radius: 2vmax;
  font-size: 14px;
}

.text-translation {
  text-align: center;
  font-size: 10px;
}